.like {
  display: flex;
  align-items: center;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636;

  sgv {
    font-size: 1.5rem;
    cursor: pointer;
  }

  p {
    margin-left: 1rem;
  }
}

.home .like {
  border: none;
}